.button {
  width: 70px;
  height: 36px;
  border: 1px solid black;
  margin-right: 10px;
  background-color: skyblue;
}
.button:hover {
  cursor: pointer;
  border-width: 3px;
}
.button-label {
  font-size: 14px;
  font-weight: 700;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 500px;
  height: 31px;
  border: 1px solid black;
  padding-left: 10px;
}
.searchbar {
  background-color: blue;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
